body{
    font-family: serif;
    background-color: white;
}
.navContainer{
    /*border:solid black;*/
    height:36px;
    border-width:0.2px;
    display:flex;
    justify-content: space-between;
    background-color:light grey;
}
.subNav{
    border:solid green;
   border-width:0.2px;
    height:60px;
    display:flex;
    justify-content:space-around;
}
.scrollContainer{
    /*border:solid black;*/
    background-color: brown;
/*height:45px;*/
border-width:0.2px;
text-align: center;
}
.mainImg {
    /*border:solid purple;*/
    height: 100%;
    margin:1em;
    padding: 1em;
    align-content: normal;
}
.midContainer{
  /* border:skyblue;*/
 /*   height:22vh;*/
    margin:1em;
}
.iconContainer{
   border: solid red;
    display:flex;
}
.themeContainer {
border:solid blue;
display:flex;
justify-content: space-between;
width:400px;
}
.logo{
    margin:5px;
    height:25px;
}
.theme {
text-align:right;
padding-top:6px;
}
.miniSub{
/*border:solid pink;*/
width:25%;
}
.candlesticks {
/*border:solid orange; */
width:55px;
height:100%;
}

.symbol{
border: solid black;
border-radius: 50%;
border-width: .2px;
padding: 3px;
}
#flexer{
display: flex;
justify-content: space-evenly;
padding-top: 10px;
width: 32%;
}
#firstOne{
width: 15%;
margin-right: 2%;
}
.searchbar{
border: radius 22px;
margin-top: 19px;
margin-left: 10px;
text-align: center;
width:200px;
}
.symbol{
height: 30px;
}
.symbol:hover{
height: 30px;
background-color: purple;
}

.menu{
    margin-top: 8px;
}

.topTxt, .bottomTxt{
text-align: center;
}


.motto{
    text-align: center;
}
.slogan{

text-align: center;
}
.shop{
font-size: 22px;
background-color: brown;
color: white;
width: 125px;
border-radius: 22px;
border: solid black;
margin-left:575px;
}
.shop:hover{
    font-size: 22px;
    background-color: black;
    color: purple;
    width: 125px;
    border-radius:22px;
    border:solid grey;

}
.book{
    height:250px;
    width:250px;
    border:solid purple;
}